<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MainProject.Properties.Settings.NutritionLastOneConnectionString"
            connectionString="Data Source=SHERBINY\MSSQLSERVER01;Initial Catalog=NutritionLastOne;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MainProject.Properties.Settings.nutConnectionString"
            connectionString="Data Source=SHERBINY\MSSQLSERVER01;Initial Catalog=nut;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>